body {
   margin: 0;
   text-align: center;
   font-family: Arial, sans-serif;
}

#recordingBox {
   border: 1px solid black;
   height: 86.5%;
   padding: 1.5% 0.5%;;
   margin: 0.5%;
   white-space: nowrap;
   overflow-x: scroll;
   overflow-y: hidden;
   position: relative;
}

.largeButton {
   color: white;
   background-color: blue;
   height: 7%;
   margin-bottom: 0.5em;
   cursor: pointer;
   width: 50%;
   float:left;
}

.largeButton:hover {
   background-color: #3355FF;
}

.largeButton p {
   line-height: 1em;
   position: relative;
   top: 50%;
   margin-top: -0.5em;
}

#contentColumn , #labelColumn {
   float: left;
}

#contentColumn {
   width: 95%;
}

#labelColumn {
   padding-top: 300px;
   width: 5%;
}

#labelColumn p {
   margin-bottom: 50px;
}

#noteContainer {
   position: relative;
}

.lightBar {
   position: absolute;
   left: 0px;
   width: 161px;
   height: 17px;
}

.light1 {
   top: 225px;
   background-color: orange;
}

.light2 {
   top: 295px;
   background-color: red;
}

.light3 {
   top: 365px;
   background-color: blue;
}

.light4 {
   top: 435px;
   background-color: green;
}

.left {
   text-align: left;
}

.hidden {
   display: none;
}

.disabled {
   opacity: 0.25;
}

.selected {
   background-color: #CCEEFF;
}

.menu {
   position: fixed;
   text-align: left;
   padding: 0;
}

.menu li {
   margin-top: 25px;
   display: inline-block;
   vertical-align: top;
}

.menu input {
   width: 33px;
}

.menu li:not(.disabled):hover > .submenu {
   display: block;
}

.menu li > p {
   margin: 0;
   color: white;
   background-color: blue;
   padding: 10px;
   border-right: 1px solid white;
}

.menu li:not(.disabled) > p {
   cursor: pointer;
}

.menu li:not(.disabled) > p:hover {
   background-color: #5588FF;
}

.submenu {
   color: black;
   background-color: white;
   margin: 0px -1px;
   border: 1px solid black;
   display: none;
}

.submenu li {
   margin: 0;
   display: list-item;
   cursor: pointer;
}

.submenu li:hover {
   background-color: #CCEEFF;
}

.submenu img {
   height: 24px;
}

.note {
   display: inline-block;
   height: 48px;
}

.sixteenth {
   margin-right: -7px;
   width: 27px;
}

.eighth {
   margin-right: 13px;
   width: 27px;
}

.dotted-eighth {
   margin-right: 33px;
   width: 27px;
}

.quarter {
   width: 15px;
   margin-right: 65px;
}

.dotted-quarter {
   margin-right: 100px;
   width: 20px;
}

.half {
   width: 15px;
   margin-right: 145px;
}

.dotted-half {
   width: 20px;
   margin-right: 220px;
}

.whole {
   width: 21px;
   margin-left: -3px;
   margin-right: 302px;
}

.tie {
   background-color: black;
   height: 5px;
   margin-right: -2px;
   margin-bottom: -7px;
   display: inline-block;
}

.tie-top {
   background-color: white;
   height: 3px;
   margin-right: -2px;
   margin-bottom: -4px;
   display: inline-block;
   position: relative; /* to make it appear at higher z-index */
}

.sixteenth-tie  {
   width: 14px;
   -webkit-border-bottom-left-radius: 7px 5px;
   -webkit-border-bottom-right-radius: 7px 5px;
   margin-left: -12px;
}

.eighth-tie {
   width: 34px;
   -webkit-border-bottom-left-radius: 17px 5px;
   -webkit-border-bottom-right-radius: 17px 5px;
   margin-left: -32px;
}

.dotted-eighth-tie {
   width: 54px;
   -webkit-border-bottom-left-radius: 27px 5px;
   -webkit-border-bottom-right-radius: 27px 5px;
   margin-left: -52px;
}

.quarter-tie {
   width: 74px;
   -webkit-border-bottom-left-radius: 37px 5px;
   -webkit-border-bottom-right-radius: 37px 5px;
   margin-left: -72px;
}

.dotted-quarter-tie {
   width: 114px;
   -webkit-border-bottom-left-radius: 57px 5px;
   -webkit-border-bottom-right-radius: 57px 5px;
   margin-left: -112px;
}

.half-tie {
   width: 154px;
   -webkit-border-bottom-left-radius: 77px 5px;
   -webkit-border-bottom-right-radius: 77px 5px;
   margin-left: -152px;
}

.dotted-half-tie {
   width: 234px;
   -webkit-border-bottom-left-radius: 117px 5px;
   -webkit-border-bottom-right-radius: 117px 5px;
   margin-left: -232px;
}

.whole-tie {
   width: 314px;
   -webkit-border-bottom-left-radius: 157px 5px;
   -webkit-border-bottom-right-radius: 157px 5px;
   margin-left: -312px;
}

.barline {
   display: inline-block;
   width: 1px;
   height: 80px;
   margin: 0px 2px -16px -3px;
   background-color: black;
}

.barNumber {
   display: inline-block;
   margin-top: -16px;
   vertical-align: top;
   margin-left: -8px;
   width: 8px;
}

#timingLineContainer {
   position: absolute;
   z-index: -1;
   top: 90px;
   left: 7px;
   height: 1000px;
}

.timingLine1, .timingLine2, .timingLine3, .timingLine4 {
   position: absolute;
   top: 1%;
   height: 98%;
   z-index: -1;
}

.timingLine1 {
   width: 2px;
   background-color: #BBB;
}

.timingLine2 {
   width: 2px;
   background-color: #DDD;
}

.timingLine3 {
   width: 1px;
   background-color: #DDD;
}

.timingLine4 {
   width: 1px;
   background-color: #EEE;
}
